@import url(@/app/ui/vars.css );
@import url(@/app/ui/fonts.ts);
@import url(@/app/ui/home.module.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.smokum {
  color:#f00;
  font-family: smokum;
}

html {
  width: 100%;
}

body {
  color: var(--foreground-rgb);
  Background: var(--background-solid-rgb);
  padding: 1rem;
}

body div {
  width: 100%;
  background-color: var(--div-background-rgba);
}
